MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_replace_with_storefront_key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ENABLED_MARKETS=zuribeans_ug,zuribeans_za
NEXT_PUBLIC_DEFAULT_MARKET=zuribeans_za
